<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="controller_plugin_gazebo" params="robot_namespace controllers_file">
		<gazebo>
			<plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
				<parameters>${controllers_file}</parameters>
				<ros>
					<xacro:unless value="${robot_namespace == ''}">
						<namespace>${robot_namespace}</namespace>
					</xacro:unless>
				</ros>
			</plugin>
		</gazebo>
	</xacro:macro>


	<xacro:macro name="gazebo_sim_sensors" params="robot_namespace use_lidar:=true">
		<gazebo>
			<xacro:if value="${robot_namespace == 'mur620a'}">
				<plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
					<render_engine>ogre2</render_engine>
					<namespace>${robot_namespace}</namespace>
				</plugin>
			</xacro:if>
		</gazebo>

		<xacro:if value="${use_lidar == 'true'}">
			<xacro:sick_s300_gazebo
				link="front_laser_link"
				topic="${robot_namespace}/f_scan"
				robot_namespace="${robot_namespace}"
				tf_prefix=""
			/>
			<xacro:sick_s300_gazebo
				link="back_laser_link"
				topic="${robot_namespace}/b_scan"
				robot_namespace="${robot_namespace}"
				tf_prefix=""
			/>
		</xacro:if>

	</xacro:macro>



	<!-- This controller is deprecated and forbidden in Noetic -->
	<!-- This controller publishes the ground truth pose -->
	<xacro:macro name="p3d_base_controller" params="robot_namespace">
		<gazebo>
			<plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
				<robotNamespace>${robot_namespace}</robotNamespace>
				<alwaysOn>true</alwaysOn>
				<updateRate>50.0</updateRate>
				<bodyName>base_footprint</bodyName>
				<topicName>ground_truth</topicName>
				<gaussianNoise>0.01</gaussianNoise>
				<frameName>map</frameName>
				<xyzOffsets>0 0 0</xyzOffsets>
				<rpyOffsets>0 0 0</rpyOffsets>
			</plugin>
		</gazebo>
	</xacro:macro>	
</robot>
