<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mir600" >

	<xacro:arg name="robot_namespace" default=''/>
	<xacro:arg name="tf_prefix" default=''/>

	<!-- MiR600 base -->
	<xacro:include filename="$(find mir_description)/urdf/mir_600/mir_600.urdf.xacro" />
	<xacro:include filename="$(find mir_description)/urdf/mir_600/mir_600.gazebo.xacro" />
	<xacro:include filename="$(find fws_robot_description)/robots/parts/lidar_head/lidar_head.urdf.xacro"/>

	<!-- Include plugin xacros -->
	<xacro:include filename="$(find mir_description)/urdf/general/plugins.gazebo.xacro" />

	<!-- Init the MiR600 marco that is also used for the hardware -->
	<xacro:mir_600/>
	<!-- Init the MiR600 macro that includes all infos that Gazebo need to function -->
	<xacro:mir_600_gazebo tf_prefix="$(arg tf_prefix)" robot_namespace="$(arg robot_namespace)"/>
	<!-- Init the plugins that run the MiR in Gazebo -->
	<xacro:controller_plugin_gazebo robot_namespace="$(arg robot_namespace)"/>
	<xacro:p3d_base_controller robot_namespace="$(arg robot_namespace)"/>
	<xacro:gazebo_sim_sensors robot_namespace="$(arg robot_namespace)"/>
	  <!-- lidar_head -->
	<xacro:lidar_head_v0 parent="base_link">
		<origin xyz="0.0 0 0.035"/>
	</xacro:lidar_head_v0>
	<xacro:lidar_head_gazebo_v0/>

</robot>
